{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Artifact_Name</th>
        <th>Artifact_Description</th>
        <th>Integrity_Hash</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {

      

      $('#data').DataTable({
        ajax: '/api/artifactdata',
        columns: [
          {data: 'ArtifactName'},
          {data: 'ArtifactDescription', searchable: true},
          {data: 'ArtifactIntegrityHash'},
          
        ],
      });
    });
  </script>
{% endblock %}
